* {
	font-family: 'Lato', sans-serif;
}

/*Utilities*/
.text-bold {
	font-weight: bold;
}
.text-white {
	color: white;
}
.absolute-center {
	position: absolute;
  -webkit-transform: translatey(-50%);
  -moz-transform: translatey(-50%);
  -ms-transform: translatey(-50%);
  transform: translatey(-50%);
  top: 50%;
}
/*-------*/

/*General*/
section {
	min-height: 100vh;
	position: relative;
	&.main {
		background-color: #FD9191;
		padding: 70px;
		p {
			font-size: 16px;
		}
		.text-principal {
			font-size: 40px;
		}
		input {
		  background: transparent;
		  border: 0px;
		  border-bottom: 4px solid white;
		  outline: none;
		  margin-left: 20px;
		  
		}
		::-webkit-input-placeholder {
			color: rgba(250,250,250,0.3);
		}
		::-moz-placeholder {
		  color: rgba(250,250,250,0.3);
		}
		:-ms-input-placeholder {
		  color: rgba(250,250,250,0.3);
		}
		:-moz-placeholder {
		  color: rgba(250,250,250,0.3);
		}
	}
	&.result {
		background-color: #FDDD8A;
		font-size: 80px;
	}
}
